*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*::selection,
*::-moz-selection {
    background: rgba(256,256,256, 0.4)
}

ul, li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #fff;
}

body {
    position: relative;
    font-family: 'Poppins', sans-serif;
    display: block;
    background: #000;
    color: #fff;
}

.container {
    display: block;
    position: relative;
    /* for footer, change later */
    padding-bottom: 4em;
}

.wrapper {
    position: relative;
    display: block;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 2em;
}
.wrapper.padding {
    padding: 4em;
}

/* měl bych se podívat na to, jak se zapisuje ten title, tohle je fakt na pytel */

.title {
    display: block;
    text-align: center;
    text-transform: uppercase;
}
h1.title {
    font-weight: 800;
    font-size: 2.5em;
}
h2.title {
    font-size: 2em;
    font-weight: 300;
    letter-spacing: 2px;
}
h3.title {
    font-size: 1.5em;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: none;
}

.btn {
    padding: .5em 1.5em;
    border-radius: 2em;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    -ms-border-radius: 2em;
    -o-border-radius: 2em;
    background: #fff;
    color: #000;
    font-weight: 500;
}

/* Navigation */

.main-navigation {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    display: block;
    z-index: 1000;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0));
}
.main-navigation-wrapper {
    padding: 1em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

.menu .menu-items {
    display: none;
}

.menu.active .menu-items {
    display: block;
}

.menu-items li {
    display: block;
    text-align: center;
}

.menu-items li a {
    font-weight: 300;
    font-size: 0.8em;
    text-transform: uppercase;
}

.menu .burger {
    display: block;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background: #fff;
    position: relative;
    /* prozatím */
    opacity: 0;
}

.menu.active .burger {
    margin-left: auto;
}

.menu .burger:hover {
    background: #d9d9d9;
    cursor: pointer;
    transition: .3s all ease-in-out;
    -webkit-transition: .6s all ease-in-out;
    -moz-transition: .6s all ease-in-out;
    -ms-transition: .6s all ease-in-out;
    -o-transition: .6s all ease-in-out;
}

.burger span {
    position: absolute;
    height: 2px;
    width: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    background: #000;
    transition: .3s all ease-in-out;
    -webkit-transition: .3s all ease-in-out;
    -moz-transition: .3s all ease-in-out;
    -ms-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
}

.burger span:nth-child(1) {
    top: 40%;
}
.burger span:nth-child(2) {
    top: 60%;
}

.menu.active .burger.active span:nth-child(1) {
    left: 45%;
    top: 67%;
    transform: rotate(45deg) translate(-50%,0%);
    -webkit-transform: rotate(45deg) translate(-50%,0%);
    -moz-transform: rotate(45deg) translate(-50%,0%);
    -ms-transform: rotate(45deg) translate(-50%,0%);
    -o-transform: rotate(45deg) translate(-50%,0%);
}

.menu.active .burger.active span:nth-child(2) {
    left: 45%;
    top: 32%;
    transform: rotate(-45deg) translate(-50%,0%);
    -webkit-transform: rotate(-45deg) translate(-50%,0%);
    -moz-transform: rotate(-45deg) translate(-50%,0%);
    -ms-transform: rotate(-45deg) translate(-50%,0%);
    -o-transform: rotate(-45deg) translate(-50%,0%);
}


.main-navigation {
    display: block;
    margin: auto;
}

.main-navigation-wrapper .signature {
    display: block;
    text-align: center;
    margin: 0 auto;
}
.main-navigation-wrapper .signature span {
    display: inline-block;
    padding: 0 0.5em;
}
.main-navigation-wrapper .signature span:not(:first-child) {
    border-left: 2px solid #fff;
}

.main-navigation-wrapper .contact-us {
}


/* Landing section */

#landing {
    position: relative;
    display: block;
    height: 100vh;
    background: url('./img/landing-background.jpg') rgba(0,0,0,0.25);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-blend-mode: darken;
    overflow: hidden;
}
#landing .main-logo {
    display: block;
    width: 24em;
    margin: 0 auto;
    padding-top: 12em;
}

#landing .foreground {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 110%;
    left: -5%;
    opacity: 0.8;
}


.products-list {
    margin-top: 2em;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;
}

#products .gallery-cta {
    display: block;
    width: max-content;
    margin: 2em auto 0 auto;
}


#contact-promo {
    padding: 4em 0;
    background: #fff;
    color: #000;
}


#contact-promo .contact-cta {
    display: block;
    width: max-content;
    margin: 2em auto 0 auto;
    background: #000;
    color: #fff;    
}


.products-list a {
    display: inline-block;
    width: 23%;
    height: 20em;
    position: relative;
    overflow: hidden;
}

.products-list a:nth-child(even) {
    margin-top: 2em;
}

.products-list a img {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 2;
    display: block;
    filter: brightness(80%);
    -webkit-filter: brightness(80%);
    transition: .3s all ease-out;
    -webkit-transition: .3s all ease-out;
    -moz-transition: .3s all ease-out;
    -ms-transition: .3s all ease-out;
    -o-transition: .3s all ease-out;
}
.products-list a:hover img {
    filter: brightness(90%);
    -webkit-filter: brightness(90%);
}

.products-list a span {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 3;
    font-size: 1.5em;
    color: #fff;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-shadow: 3px 2px 3px #1C1C1C;
    transition: .3s all ease-out    /* ještě bych tu typografi měl promyslet */;
    -webkit-transition: .3s all ease-out    /* ještě bych tu typografi měl promyslet */;
    -moz-transition: .3s all ease-out    /* ještě bych tu typografi měl promyslet */;
    -ms-transition: .3s all ease-out    /* ještě bych tu typografi měl promyslet */;
    -o-transition: .3s all ease-out    /* ještě bych tu typografi měl promyslet */;
}

.products-list a:hover span {
    bottom: .5em;
    text-shadow: 5px 4px 3px #1C1C1C;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1em 0;
}

.lightbox-overlay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
}

.lightbox {
    margin: 50% auto 0 auto;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    display: block;
    width: max-content;
}

@media only screen and (max-width: 1100px) {
    #landing  {  
        height: 70vh;
    }
    #landing .foreground {
        width: 140%;
    }
}


@media only screen and (max-width: 900px) {

    #landing {
        height: 60vh;
    }
    .products-list {
        flex-wrap: wrap;
    }
    .products-list a {
        width: 48%;
    }
}


@media only screen and (max-width: 700px) {
    #landing {
        height: 60vh;
    }
    #landing .foreground {
        display: none;
    }
}

@media only screen and (max-width: 460px) {
    .main-navigation-wrapper {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 0;
    }
    .main-navigation-wrapper .contact-us {
        display: block;
        width: max-content;
        margin-top: 1em
    }
    #landing .main-logo {
        width: 80%;
    }
    h1.title {
        font-size: 1.5em;
    }
    h2.title {
        font-size: 1.3em;
    }
    h3.title {
        font-size: 1.1em;
    }
}

